@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --plimary-font: "Open Sans", sans-serif;
  --plimary-color: #070f2b;
  --secondary-color: #ccd2da;
}
.Heading {
  display: flex;
  justify-content: space-between;
  background-color: #070f2b;
  min-height: 10vh;
  align-items: center;
  padding: 1rem;
}
.Heading h1 {
  color: #ccd2da;
  font-family: var(--plimary-font);
  font-size: 30px;
}
.Heading p {
  color: #ccd2da;
}
.Heading a {
  text-decoration: none;
  color: #ccd2da;
  font-family: var(--plimary-font);
}
.HeaderLabel input {
  padding: 10px 15px;
}
.HeaderButton {
  padding: 10px 15px;
}
@media screen and (max-width: 30em) {
  .Heading {
    flex-direction: column;
  }
}
